body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.todo-input{
    width: calc(100% -22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.add-button{
    padding: 10px 15px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.todo-list{
    list-style: none;
    padding: 0;
}
.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:#f9f9f9;
    margin-bottom: 5px;
    border-radius: 5px;
}
.delete-button{
    background: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}